<h1 class="ms-2">Room N0{{ room?.numero }}</h1>
<section class="gallery row">
  <div class="col-6">
    @if (room?.images.length > 0) {
      <div class="container">
        <div class="img-container">
          @for (item of room.images.slice(0, 1); track $index) {
            <img [src]="item.image" alt="Image" id="preview" />
          }
          <div class="img-prev">
            @for (item of pictures?.results; track $index) {
              <div class="img-slide me-2" [ngClass]="{ active: $index === 0 }">
                <img src="{{ item?.image }}" alt="{{ item?.id }}" appDemo />
              </div>
            }
            <div class="mt-4">
              <div class="d-flex align-items-center position-relative">
                <div class="ms-2 position-absolute top-0">
                  <input
                    class="input py-2"
                    [value]="
                      selectedFileNames.length
                        ? selectedFileNames
                        : 'Add Images'
                    "
                  />
                </div>
                <input
                  type="file"
                  id="fileInput"
                  name="fileInput"
                  accept="image/*"
                  multiple
                  (change)="selectFiles($event)"
                />
                <button
                  class="btn btn-primary"
                  [disabled]="!selectedFiles"
                  (click)="uploadFiles()"
                >
                  Upload
                </button>
              </div>
            </div>
            <div class="mt-3">
              <img
                *ngFor="let preview of previews"
                [src]="preview"
                class="preview"
              />
            </div>
          </div>
        </div>
      </div>
    } @else {
      <p class="text-secondary mb-4 ms-2">No pictures available</p>
      <div class="mt-4">
        <div class="d-flex align-items-center position-relative">
          <div class="ms-2 position-absolute top-0">
            <input
              class="input py-2"
              [value]="
                selectedFileNames.length ? selectedFileNames : 'Select Images'
              "
            />
          </div>
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            accept="image/*"
            multiple
            (change)="selectFiles($event)"
          />
          <button
            class="btn btn-primary"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()"
          >
            Upload
          </button>
        </div>
      </div>
      <div class="mt-3">
        <img *ngFor="let preview of previews" [src]="preview" class="preview" />
      </div>
    }
  </div>
  <div class="col-6">
    <h2 class="text-secondary mb-4">{{ room?.type }}</h2>
    <h4 class="text-dark fw-light fs-1 mb-3">{{ room?.prix }} BIF</h4>
    @if (room?.disponibilite) {
      <p class="text-secondary mb-4 fs-5 d-flex align-items-center">
        Reserver : <span class="ms-4 badge text-bg-success">Active</span>
      </p>
    } @else {
      <p class="text-secondary mb-4 fs-5">
        Reserver : <span class="ms-4 badge text-bg-danger">Not Available</span>
      </p>
    }
    <p class="text-dark mb-4">{{ room?.description }}</p>
    <div class="d-flex flex-column">
      <span class="fs-5 fw-bold text-dark">Rooms description</span>
      <p class="my-4 text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nihil
        soluta fugiat, facilis animi, velit fugit autem laborum ullam nemo illo
        est? Est fuga magnam nihil temporibus, molestiae delectus obcaecati?
      </p>
    </div>
    <div class="asset mt-3">
      <span class="fs-5 fw-light my-3">Equipments</span>
      <div class="row align-items-center">
        <div class="mt-3 col-6">
          <span class="fs-6 text-secondary"
            ><i class="fa-solid fa-door-closed text-secondary me-3"></i
            ><span>3 Closets</span>
          </span>
        </div>
        <div class="mt-3 col-6">
          <span class="fs-6 text-secondary"
            ><i class="fa-solid fa-bed text-secondary me-3"></i
            ><span>1 Bedroom</span>
          </span>
        </div>
      </div>
    </div>
    <div class="asset mt-5">
      <span class="fs-5 fw-light my-3">Tenant</span>
      <div class="mt-3 d-flex align-items-center">
        <span class="fs-6 text-secondary"
          ><i class="fa-solid fa-person text-secondary me-3"></i
          ><span class="">Bibyento Bundi</span>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- <img
  *ngIf="$index > 0"
  (click)="changeImage($index)"
  src="{{ item.image }}"
  alt="Image"
/> -->
