<div class="container text-center p-4">
  <h1 class="text-secondary mb-3">Ooops..!</h1>
  <p class="mb-3">
    We are sorry for inconvenience. Its looks like you're trying to access to a
    page that doesn't exist
  </p>
  <button
    class="btn btn-primary mb-3 px-4 py-1 rounded"
    (click)="backClicked()"
  >
    BACK
  </button>
  <div class="mx-auto" style="object-fit: cover; width: 386px; height: 294px">
    <img src="../../../assets/icons/404.svg" alt="404" style="width: 100%" />
  </div>
</div>
