@font-face {
  font-family: 'calibri';
  src: url('./calibri-font-family/calibri-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'calibri';
  src: url('./calibri-font-family/calibri-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700
}