<div class="bg-light rounded">
  <span
    class="mx-3 btn p-3 rounded"
    routerLink="bar"
    routerLinkActive="btn-primary fw-bold"
    [routerLinkActiveOptions]="{ exact: true }"
    >Stock</span
  ><span
    class="mx-3 p-3 rounded btn"
    routerLink="procurement"
    routerLinkActive="btn-primary fw-bold"
    >Procurement</span
  >
  <span
    class="mx-3 p-3 rounded btn"
    routerLink="transaction"
    routerLinkActive="btn-primary fw-bold"
    >Transactions</span
  >
  <span
    class="mx-3 p-3 rounded btn"
    routerLink="setting"
    routerLinkActive="btn-primary fw-bold"
    >Settings</span
  >
</div>
<div class="mt-4 p-3"><router-outlet></router-outlet></div>
