.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
}

.radious {
  height: 250px;
  background: #212529;
  border-radius: 20px;
}