<div class="radious mb-4">
  <div class="mb-3 p-3"><span class="text-light">Overview</span></div>
  <div
    class="d-flex flex-wrap p-3"
    style="background: #212529; border-radius: 20px"
  >
    <div
      class="m-3"
      style="
        border-radius: 20px;
        height: 150px;
        width: 250px;
        background: #d4f1fa;
      "
    >
      <div class="p-4">
        <div class="text-dark">
          <h2 class="mb-0 text-info">2</h2>
          <small class="text-secondary">Total Tenant</small>
        </div>
        <i class="bi bi-people-fill fs-4 text-secondary"></i>
      </div>
    </div>
    <div
      class="m-3"
      style="
        border-radius: 20px;
        height: 150px;
        width: 250px;
        background: #d4d8fa;
      "
    >
      <div class="p-3">
        <div class="text-dark">
          <h2 class="mb-0 text-info">10</h2>
          <small class="text-secondary">Total Rooms</small>
        </div>
        <i class="fa-solid fa-bed fs-4 text-secondary"></i>
        <div class="d-flex mt-3 float-end">
          <span class="badge text-bg-success d-flex align-items-center"
            >Untaken</span
          >
          <span class="ms-2 fs-5 fw-bold text-success">8</span>
        </div>
      </div>
    </div>
    <div
      class="m-3"
      style="
        border-radius: 20px;
        height: 150px;
        width: 250px;
        background: #f8ffce;
      "
    >
      <div class="p-4">
        <div class="text-dark">
          <h2 class="mb-0 text-info">125 000 BIF</h2>
          <small class="text-secondary">Total Income</small>
        </div>
        <i class="fa-solid fa-money-bill-1-wave fs-4 text-secondary"></i>
      </div>
    </div>
    <div
      class="m-3"
      style="
        border-radius: 20px;
        height: 150px;
        width: 250px;
        background: #e3cfff;
      "
    ></div>
  </div>
</div>
<br />
<div class="my-4 row">
  <h5 class="ms-4 text-secondary">New Customer</h5>
  <form class="ms-4 col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="New Tanent"
      />
      <label for="floatingInput">Customer Name</label>
    </div>
  </form>
</div>
