<div class="card mb-3" style="max-width: 540px">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        src="./assets/image/nicolas-brulois-QZx4FHcQNqE-unsplash.jpg"
        class="card-img"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Room N0{{ room.numero }}
          @if (room.is_active) {
            <small class="ms-3 text-success">Active</small>
          } @else {
            <small class="ms-3 text-danger">Not Active</small>
          }
        </h5>
        <p class="card-text">{{ room.prix | number }} BIF</p>
        <p class="card-text text-secondary">
          {{ room.type }}
        </p>
        @if (room.disponibilite) {
          <p class="card-text">
            <small class="badge text-bg-success">Disponible</small>
          </p>
        } @else {
          <p class="card-text">
            <small class="badge text-bg-danger">Non disponible</small>
          </p>
        }
      </div>
    </div>
  </div>
</div>
