<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark min-vh-100"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <i class="fa-solid fa-mattress-pillow fs-4 me-4"></i>
    <span class="fs-4">Indaro</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a
        class="nav-link text-white"
        routerLink="/l"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-gauge me-2"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink="r" routerLinkActive="active">
        <i class="fa-solid fa-bed me-2"></i>
        Rooms
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link text-white"
        routerLink="tanents"
        routerLinkActive="active"
        routerLink="tanents"
        routerLinkActive="active"
      >
        <i class="fa-regular fa-calendar-check me-2"></i>
        Reservation
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link text-white"
        routerLink="clients"
        routerLinkActive="active"
      >
        <i class="fa-solid fa-user-group me-2"></i>
        Customers
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link text-white"
        routerLink="Operator"
        routerLinkActive="active"
      >
        <i class="fa-solid fa-user-ninja me-2"></i>
        Employee
      </a>
    </li>
    <li>
      @if (user.is_staff) {
        <a
          href="#"
          class="nav-link text-white"
          routerLink="admin"
          routerLinkActive="active"
        >
          <i class="fa-solid fa-computer me-2"></i>
          Admin
        </a>
      }
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong> {{ user.username }} </strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <!-- <li><hr class="dropdown-divider" /></li> -->
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
