<div class="d-flex align-items-center bg-light rounded p-3 row">
  <form class="col-4">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Client search</label>
    </div>
  </form>
</div>
<div class="d-flex align-items-center bg-light rounded p-3 row mb-4">
  <div class="d-flex align-items-center col-3">
    <div class="p-2 bg-success-subtle rounded">
      <i class="fa-solid fa-user-group fs-4 text-success"></i>
    </div>
    <div class="d-flex flex-column ms-3 text-success-emphasis">
      <span class="fs-4 fw-bold"> 10 </span>
      <small>Total Orders</small>
    </div>
  </div>
  <div class="d-flex align-items-center col-3">
    <div class="p-2 bg-info-subtle rounded">
      <i class="fa-solid fa-user-clock fs-4 text-info"></i>
    </div>
    <div class="d-flex flex-column ms-3 text-info-emphasis">
      <span class="fs-4 fw-bold">5</span> <small>Client wait</small>
    </div>
  </div>
</div>
<div class="content d-flex flex-wrap">
  @if (bills) {
    @for (item of bills; track $index) {
      <div class="bill m-3" routerLink="details/{{ item.code }}">
        <app-ticket [ticketData]="item"></app-ticket>
      </div>
    }
    <br />
  }
</div>
